
/* ------------- HEADER ------------- */
header {
    
}






/*  ------------- NAV -------------  */
nav {
	.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .icon {
    display: none;
}
} // end nav





/* ------------- MAIN ------------- */
main {
    #main-div {
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        .lead {
            grid-row: 1 / span 2;
            grid-column: 1 / span 2;
        }
        .secondTop {
            grid-row: 1;
            grid-column: 3 / span 2;
        }
        .secondBottom {
            grid-row: 2;
            grid-column: 3 / span 2;
        }
    }
}//end main


footer {
    .footer-div {
        .links-div {
    .section-links {
                width: 25%;
            }
        }
    }
}








