




/* ------------- HEADER ------------- */
header {
    .header-div {
        figure {
            margin-bottom: -38px;
        }
        .search-div {
            display: flex;
            justify-content: flex-end;
            .search-bar {
                width: 180px;
                
            }
        }
    }
}

nav {
	.topnav a {
    display: block;
}
    
.topnav .icon {
    display: none;
}
} // end nav


/* ------------- MAIN ------------- */
main {
    #main-div {
    max-width: 100em;
    margin: 0 auto;
        .lead {
            grid-row: 1 / span 2;
            grid-column: 1;
        }
        .secondTop {
            grid-row: 1;
            grid-column: 2;
            align-self: start;
        }
        .secondBottom {
            grid-row: 2;
            grid-column: 2;
            align-self: end;
        }
        

    } //end main div
} //end main

footer {
    .footer-div {
        .links-div {
    .section-links {
                width: 50%;
            }
        }
    }
}